.list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.link {
    transition: transform 150ms linear;

    &:hover,
    &:focus {
        transform: scale(1.12);
    }
}

.button {
    padding: 6px 8px;
    background-color: #d5d6d2;
    color: #2f2e33;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: transform 200ms linear;

    &:hover,
    &:focus {
        transform: scale(1.1);
    }
}