.header {
    margin-bottom: 36px;
    display: flex;
    justify-content: space-between;
    padding: 24px 28px;
    color: #fff;
    background-color: #3a5199;
    box-shadow: 0 1px 5px 3px rgba(0, 0, 0, .5);
    font-weight: 700;
    font-size: 20px;
}

.home {
    transition: transform 150ms linear;

    &:hover,
    &:focus {
        transform: scale(1.12);
    }
}
