.section {
    text-align: center;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.title {
    width: 70%;
    margin: 0 auto;
    color: #3a5199;
    margin-bottom: 12px;
    border-bottom: 1px solid #3a5199;
    
}